:root {
  --clr-light: #ffffff;
  --clr-dark: #101010;
  --clr-slate: #949cb0;
  --clr-primary: #6873ff;
  --clr-secondary: #181818;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--clr-slate);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: var(--clr-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  height: 575px;
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-auto-flow: column;
  border-radius: 50px;
  background: #101010;
  box-shadow: 25px 25px 50px #060606, -25px -25px 50px #1a1a1a;
}

.screen {
  grid-column: span 5;
  padding: 25px;
}

#display {
  width: 100%;
  height: 100%;
  font-size: 3.5rem;
  text-align: right;
  outline: none;
  border: none;
  border-radius: 10px;
  background: none;

}

.btn {
  grid-column-start: span 1;
  border-radius: 25px;
  margin: 8px;
  font-size: 1.5rem;
  background-color: var(--clr-primary);
  border: none;
}

.equal {
  grid-column-start: span 2;
}